
.vs/ProjectEvaluation/elderbraingames.projects.v6.1
.vs/ProjectEvaluation/elderbraingames.metadata.v6.1
.vs/ElderBrainGames/v17/.suo
.vs/ElderBrainGames/v17/.futdcache.v2
.vs/ElderBrainGames/FileContentIndex/ff8baf52-3a59-42ec-bc22-6d403bbb5047.vsidx
.vs/ElderBrainGames/FileContentIndex/e3f7b9d4-8044-4b71-8d8a-118936d9f549.vsidx
.vs/ElderBrainGames/FileContentIndex/e04e16b3-6d8a-41a5-8aa6-631905e4d61a.vsidx
.vs/ElderBrainGames/FileContentIndex/d1a3a0d9-3c63-4177-94a9-20355264f7fe.vsidx
.vs/ElderBrainGames/FileContentIndex/bfb94a98-fde1-45d9-b417-bc3c55559a37.vsidx
.vs/ElderBrainGames/FileContentIndex/46046f71-f3e6-498d-9a57-56a10192c07c.vsidx
.vs/ElderBrainGames/FileContentIndex/3660f16a-0889-4648-9975-3287e49c4140.vsidx
.vs/ElderBrainGames/FileContentIndex/117a4545-1f7c-4e8a-bb63-7bd6a34468fb.vsidx
.vs/ElderBrainGames/DesignTimeBuild/.dtbcache.v2
*.v2
*.vsidx
.vs/ProjectEvaluation/elderbraingames.projects.v6.1
.vs/ProjectEvaluation/elderbraingames.metadata.v6.1
.vs/ElderBrainGames/v17/.suo
.vs/ElderBrainGames/v17/.futdcache.v2
.vs/ElderBrainGames/FileContentIndex/ff8baf52-3a59-42ec-bc22-6d403bbb5047.vsidx
.vs/ElderBrainGames/FileContentIndex/117a4545-1f7c-4e8a-bb63-7bd6a34468fb.vsidx
.vs/ElderBrainGames/DesignTimeBuild/.dtbcache.v2
*.vsidx
