<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MineSweeperPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MineSweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MineSweeper.MineSweeperPro" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MineSweeperPro.Properties.Settings>
            <setting name="MineFieldWidth" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MineFieldHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MineCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="HintCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="EnableSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChordControl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameType" serializeAs="String">
                <value>0</value>
            </setting>
        </MineSweeperPro.Properties.Settings>
        <MineSweeper.Properties.Settings>
            <setting name="MineFieldWidth" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MineFieldHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MineCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="HintCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
        </MineSweeper.Properties.Settings>
        <MineSweeper.MineSweeperPro>
            <setting name="MineFieldWidth" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MineFieldHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MineCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="HintCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Default</value>
            </setting>
        </MineSweeper.MineSweeperPro>
    </userSettings>
</configuration>